<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <label [ngClass]="{whiteText: serverName === ''}" 
            [ngStyle]="{backgroundColor: getBackgroundColor()}">Server Name</label>

            <!-- <input type='text' class='form-control' (input)='onInput($event)'> -->
            <input type='text' class='form-control' [(ngModel)]='serverName'>
            <button class='btn btn-primary' [disabled]="!isEnabledCreate()" (click)="onCreate()">Create</button>

            <ol *ngIf='servers'>
                <li *ngFor="let server of servers">{{ server }}</li>
            </ol>
            <p *ngIf='isServerCreated; else noServerCreated'> {{ serverCreateStatus }}</p>
        </div>
    </div>
</div>

<ng-template #noServerCreated>
    <p> No server created :)</p>
</ng-template>